.ant-spin {
  max-height: none !important;
}

.ant-table-tbody {
  .ant-form-item {
    margin-bottom: 0;
  }
}

.create-dataset-form {
  .ant-radio-button-wrapper {
    height: auto !important;
  }
}

.__simple-image-label__ {
  min-width: 40vw;
}
