.header {
    padding: 0 24px;
    min-width: 1200px;

    .left {
        float: left;
    }

    .right {
        float: right
    }
}

.main {
    min-height: calc(100vh - 64px - 65px) !important;
    min-width: 1200px;
    background-color: #f7f7f7;
}

.footer {
    text-align: center;
    background-color: #f7f7f7 !important;
    // background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
    border-top: 1px solid #e8e8e8;
    // color: #f7f7f7 !important;
}